body{
  margin:0;
}

.parallax{
  background-size: 650px 400px;
  min-height: 400px;
  min-width: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rightColumn{
  background-position: right;
}

.centerImage{
  background-repeat: no-repeat;
  min-height: 600px;
  width: 100%;
}

/* Top section */

.bgimg-1{
  background-image: url("images/background.png");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;

}

.border{
  background-color: black;
  color: white;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.textContainer{
  min-height: 200px;
  width: 100%;
  background-color: grey;
  margin: 0;
  padding: 4em 0 5em;
  text-align: center;
}


/* First Fighter Section */
.fighter1{
  background-color: blue;
  margin: 0;
  padding: 30px;

}

.description{
  width: 50%;
}

.bgimg-2{
  background-image: url("images/marthcina.jpg");
}


/* Second Fighter Section */
.fighter2{
  background-color: purple;
  margin: 0;
  padding: 30px;

}

.description{
  width: 50%;
}

.bgimg-3{
  background-image: url("images/palutena_aerial.jpg");
}


/* Third Fighter Section */
.fighter3{
  background-color: blue;
  margin: 0;
  padding: 30px;
}

.description{
  width: 50%;
}

.bgimg-4{
  background-image: url("images/ike.png");
}

/* Fourth Fighter Section */
.fighter4{
  background-color: purple;
  margin: 0;
  padding: 30px;
}

.description{
  width: 50%;
}

.bgimg-5{
  background-image: url("images/inkling.jpg");
}


/* Bottom Section */

.bgimg-6{
  background-image: url("images/joker.png");
  background-size: 100% 100%;
}
